<p id="notice"><%= notice %></p>
<br>
<%= link_to 'New Event', new_event_path %>
<div>
	<div class='calendar'></div>
</div>
<div>
	<div id='editDialog'></div>
</div>
<div id="dialog" title="Event" style="display:none">
  <%= form_for :event do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %> 
  </div>
  <div class="field" id="repeat_event">
    <%= f.label :repeat %><br>
    <%= f.select :repeat, options_for_select(%w[Once Daily Weekly Monthly]) %>
  </div>
  <div class="field" style="display: none;" id='repeat_freq'>
    <%= f.label :repeat_freq %>
    <%= f.select :repeat_freq, ((2..30).map {|i| [i,i] }) %>
  </div>
  <div class="field" style="display: none;" id='repeat_week_days'>
    <%= f.label :select_day %>
    <% Date::DAYNAMES.each do |day| %>
       <%= f.check_box :repeat_week_days, {}, day %>
       <%= day %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end  %>
</div>



